.carosel {
    display: grid;
    grid-template-columns: 15vw 70vw 15vw;
    grid-template-rows: 100%;
    position: relative;
    align-items: center;

    height: 90vh;
    width: 100%;
}

.carosel__forwardButton {
    grid-column: 3/4;
}

.carosel__backButton {
    grid-column: 1/2;
}

.carosel__image {
    grid-column: 1/4;
    position: relative;
}

.carosel__backButton, .carosel__forwardButton {
    font-size: max(2rem, 5vw);
    border: none;
    border-radius: 50%;
    background-color: transparent;
    color: rgba(0 0 0 /0.75);
    padding: .1em;

    position: absolute;
    z-index: 1;
    justify-self: center;

    display: flex;
}

.carosel__backButton:hover, .carosel__forwardButton:hover{
    color: rgba(0 0 0 /0.5);
}