.carosel1 {
    display: grid;
    grid-template-columns: 15vw 70vw 15vw;
    grid-template-rows: 100%;
    position: relative;
    align-items: center;

    height: 90vh;
    width: 100%;
}

.carosel1__forwardButton {
    grid-column: 3/4;
}

.carosel1__backButton {
    grid-column: 1/2;
}

.carosel1__image {
    grid-column: 1/4;
    height: 100%;
    width: 100%;
    object-fit: contain;
    position: relative;
}