@import url(carosel.css);
@import url(carosel2.css);
@import url(carosel3.css);
@import url(carosel4.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    gap: 5rem;

    margin: 2rem 0;

    overflow-x: hidden;
}

h2 {
    color: darkslategrey;
    text-indent: 15vw;
    border-bottom: 2px solid darkslategrey;
    margin-top: 5rem;
}

img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

button {
    font-size: inherit;
}
